// 
// Global
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding

html {
    height: 100%;
    scroll-padding-top: calc(#{$navbar-height} - 1px);
}

body {
    width: 100%;
    height: 100%;
}

//- Page section styling
.page-section {
    padding: 8rem 0;
}

// Custom utilities for this theme
.text-white-75 {
    color: fade-out($white, 0.25) !important;
}

// responsive pre/code blocks
pre.form-data {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    font-size: 0.8rem;

    @media (min-width: 768px) {
        font-size: 0.875rem;
    }
}

// responsive form inputs
.expandable-comp {
    h4 {
        font-size: 1.1rem;

        @media (min-width: 768px) {
            font-size: 1.25rem;
        }
    }
}
