.side-by-side {
  display: flex;
  align-items: flex-start;
}

pre.range-output {
  background: #eee;
  border-radius: 0.5em;
  text-align: center;
  margin-left: 1em;
  margin-top: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  line-height: 1;
  width: 1.5em;
}

pre.form-data {
  box-sizing: border-box;
  background: #eee;
  border: 1px solid #ccc;
  max-width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  overflow: scroll;
}

.center {
  margin: 0 auto;
  width: 80%;
}

.btn.btn-danger.ml-5 {
  margin-left: 5px;
}

label {
  font-size: larger;
}

.formkit-inner textarea {
  height: auto;
}

.formkit-message {
  color: lightcoral;
}

.formkit-input[type="checkbox"] {
  border-radius: 0.25em;
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  appearance: none;
  color-adjust: exact;
}

.formkit-input:checked {
  background-color: #81c13b;
  border-color: #81c13b;
}

.formkit-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
