.side-by-side {
  display: flex;
  align-items: flex-start;
}

pre.range-output {
  background: #eee;
  border-radius: 0.5em;
  text-align: center;
  margin-left: 1em;
  margin-top: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  line-height: 1;
  width: 1.5em;
}

pre.form-data {
  box-sizing: border-box;
  background: #eee;
  border: 1px solid #ccc;
  max-width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  overflow: scroll;
}

.center {
  margin: 0 auto;
  width: 80%;
}

label {
  font-size: larger;
}

.formkit-inner textarea {
  height: auto;
}